<a href="https://colab.research.google.com/github/gaurav31120/Machine-Learning/blob/main/Python%20Basics/2.3.%20Basic_data_Types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Data Types in Python:
1. Integer
2. FLoating Point
3. Complex
4. Boolean
5. String

In [1]:
# integers
a = 8
print(a)

8

type - type is a keyword in python which tells you about the datatype.

In [2]:
type(a)

int

In [3]:
# floating point
b = 2.3
print(b)
type(b)

2.3

float

In [4]:
# complex numbers
c = 1 + 3j
print(c)
type(c)

(1+3j)

complex

Conversion of one datatype to another

In [5]:
# int to float
x = 10
print(x)
type(x)

10

int

In [6]:
y = float(x)
print(y)
type(y)

10.0

float

In [7]:
# float to int
x = 5.88
print(x)
type(x)

5.88

float

In [8]:
y = int(x)
print(y)
type(y)

5

int

Note: when you convert float ot int -----  the values are not rounded off (estimated). it will simply remove decimal values after .(dot) and give int vaues as input.

Boolean
1. True - T should  be in uppercase
2. false - F should be in uppercase

In [9]:
a = True
print(a)
type(a)

True

bool

In [11]:
b = False
print(b)
type(b)

False

bool

In [13]:
a = 7 < 3
print(a)
type(a)

False

bool

In [14]:
b =7 > 3
print(b)
type(b)

True

bool

String

In [15]:
print("Machine Learning")

Machine Learning

In [16]:
my_string = "Machine Learning"
print(my_string)
type(my_string)

Machine Learning

str

In [17]:
print("Hello"*5)

HelloHelloHelloHelloHello

Slicing [a:b]

Indexing - Indexing starts with 0 and ends with n-1

Step [a:b:c] - same as slicing but on;y last value c is using for stepping. Every cth element in the string will be eliminted.

In [18]:
my_string = "Programming"
print(my_string[1:5])

rogr

In [19]:
# step
print(my_string[0:10:2])

Pormi

String Concatenation

In [20]:
word_1 = 'Machine '
word_2 = 'Learning'
print(word_1+word_2)

Machine Learning