<a href="https://colab.research.google.com/github/gaurav31120/Machine-Learning/blob/main/Python%20Basics/2.4.%20List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of objects in Python;
 1. Immutable Objects
 2. Mutable Objects

 Immutable Objects: Values cannot be changed once it is created.
                    Can store only one value.
  1. int
  2. float
  3. string
  4. bool
  5. tuple

  Mutable Objects: Values can be changed once it is created.
                   Can store multiple values.
  1. List
  2. Set
  3. Dictionary

# 1. List - List should be included in the square brackets.
list can have multiple dattypes.

In [4]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [5]:
# list can have multiple dattypes
my_list = [2,3,1.8,'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

List are mutable - means they can be chnages once they are created.

In [6]:
# add elements to a list
my_list = [2,3,1.8,'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [8]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [9]:
# list allow duplicate or repeated values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [10]:
# check the number of elements present inside of the list
print(len(list_1))

8

In [13]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [15]:
list_2.append(5)
print(list_2)

[5]

In [16]:
# delete an item from the list  # Syntax - del list[index] - deletion is based on what index you want to delete
list_2 = [2,3,1.8,'English', True]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True]
[2, 3, 'English', True]

In [17]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. Tuple - Tuples are enclosed in parenthesis or small brackets.
Tuple allows multiple datatype elements in a single tuple.

In [18]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [19]:
# Tuple allows multiple datatype elements in a single tuple.
tuple_2 = (1,2,3.5, "Machine Learning", False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [21]:
# Converting a list to a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [22]:
# delete an item from the list  # Syntax - del list[index] - deletion is based on what index you want to delete
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable ----< unchangeable

In [23]:
my_tuple.append(6)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
print(len(my_tuple))

4

# 3. Set - set should be enclosed in curly brackets
set does not support indexing

In [26]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [27]:
# set does not support indexing
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [28]:
# Convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [29]:
# set does \not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

# Dictionary - key-value pair

*   List item
*   List item

Dictionary does not allow duplicate values.

In [31]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [32]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [33]:
# Dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}