<a href="https://colab.research.google.com/github/gaurav31120/Machine-Learning/blob/main/Python%20Basics/2.5.%20Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.5. Operator in Python.

# Operators in Python:
  1. Arithmetic operators
  2. Assignment operators
  3. Com[arison operators
  4. Logical operators
  5. Identity operatos
  6. Membership operators

# 1.Arithmetic operators

In [9]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum = ', sum)

# subtraction
diff = num_1 - num_2
print('difference = ', diff)

# multiplication
product = num_1 * num_2
print('product = ', product)

# division
quotient = num_1 / num_2
print('quotient = ', quotient)

# exponent
exp = num_1 ** num_2 # 20^10
print('exponent = ', exp)

# modulus
mod = num_1 % num_2
print('remainder = ', mod )

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
remainder =  0

# 2. Assignment operator
    +=
    -=
    *=
    **=
    /=
    %=

In [10]:
a  = 5
print(a)

5

In [11]:
a = 5
a += 5 # a=a+5
print(5)

5

In [12]:
b = 5
b -= 2 # b =b-2
print(b)

3

# 3. Comparision operator - compares two variables
    == equal to operator
    != not equal to
    >  greater than
    < less than
    >= greater than or equal to
    <= leass than or equal to

In [16]:
a = 5
b = 10

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

# 4. Logical operators
    and

    or

    not

In [19]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print( not(a>8 and a>5))

False
True
False

# 5. Identity operator
    
    is - checks whether both values are same ---- return true if both values are same

    is not - checks whether both values are different ---- return true if both values are different

In [20]:
x = 5
y = 5

print(x is y)

True

In [21]:
x = 5
y = 10

print(x is y)

False

In [23]:
x = 5
y = 5

print(x is not y)

False

In [24]:
x = 5
y = 10

print(x is not y)

True

# 6. Membership operator - it checks wheather the first element a is in the object(list) of the second element c or not
Syntax: a in c
        a not in c
  
    in      Synntax - a in c

    not in   Synntax - a not in c

*   List item
*   List item

In [25]:
a= 5
b = 10

c = [1,2,3,4,5]
print(a in c)
print(b in c)

True
False