<a href="https://colab.research.google.com/github/gaurav31120/Machine-Learning/blob/main/Python%20Basics/2.7.%20Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.7. Loops in Python

# For loop

here, we know how many times the loop will execute

In [2]:
laptop = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 20000

In [3]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000

In [4]:
for i in range(5):    # 0,1,2,3,4
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000

In [6]:
numbers = [50,100,150,200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [7]:
numbers = [50,100,150,200]

for i in numbers:
  print(i)

50
100
150
200

# While loop

here, we do not know how many times the loop will execute

Syntax : while condition:

            statement

In [9]:
i = 0

while i<10:
  print(i)
  i+= 1

0
1
2
3
4
5
6
7
8
9

In [10]:
i = 5

while i<3: # this condition will bee false everytime. so, no output will come.
  print(i)
  i+= 1